body{
    text-align: center;
    background-color: darkorange;
}
header{
  
    padding:20px;
    border-radius:20px;
    background-color: azure;
 
}
div{
    border-radius:20px;
    padding:20px;
    background-color: khaki;
    margin:20px;
}
footer{
    display: flex;
    justify-content: center;
}